<div class="d-flex align-items-center justify-content-center h-100">
    <div class="d-flex flex-column">
        <h1 class="title-score-info">@DateTime.Now.ToLocalTime().ToString("HH:mm")</h1>
        <h3>@DateTime.Now.ToString("yyyy MMMM dd")</h3>
    </div>
</div>

@code {

}