@using NhlScoreboard.Models
<div class="d-flex flex-column align-items-center">
    <h1 class="title-score-info">@(CurrentScore?.gameData.datetime.dateTime.ToLocalTime().Day == DateTime.Now.Day ? "TODAY" : "YESTERDAY")</h1>
    <h3>@CurrentScore?.gameData.status.detailedState</h3>
</div>

<div class="d-flex flex-row justify-content-around align-items-center">
    <TeamInfo Team="@CurrentScore?.gameData.teams.home"
              LeagueRecord="@CurrentScheduledGame?.teams.home.leagueRecord">
    </TeamInfo>

    <div class="d-flex flex-column align-items-center">
        <span class="middle-score-info">
            @CurrentScore?.liveData.linescore.teams.home.goals -
            @CurrentScore?.liveData.linescore.teams.away.goals
        </span>
        <span>
            Shots on goal
        </span>
        <span>
            @CurrentScore?.liveData.linescore.teams.home.shotsOnGoal -
                        @CurrentScore?.liveData.linescore.teams.away.shotsOnGoal
        </span>
    </div>

    <TeamInfo Team="@CurrentScore?.gameData.teams.away"
              LeagueRecord="@CurrentScheduledGame?.teams.away.leagueRecord">
    </TeamInfo>
</div>

@code {

    [Parameter]
    public GameFeedLiveResponse CurrentScore { get; set; }

    [Parameter]
    public Game CurrentScheduledGame { get; set; }

}