@using NhlScoreboard.Models
@inject HttpClient _httpClient
<div class="d-flex flex-column align-items-center">
    <h1 class="title-score-info">@(currentScore?.gameData.datetime.dateTime.ToLocalTime().Day == DateTime.Now.Day ? "TODAY" : "YESTERDAY")</h1>
    <h3>@currentScore?.gameData.status.detailedState</h3>
</div>

<div class="d-flex flex-row justify-content-around align-items-center">
    <TeamInfo Team="@currentScore?.gameData.teams.home"
              LeagueRecord="@currentScheduledGame?.teams.home.leagueRecord">
    </TeamInfo>

    <div class="d-flex flex-column align-items-center">
        <span class="middle-score-info">
            @currentScore?.liveData.linescore.teams.home.goals -
            @currentScore?.liveData.linescore.teams.away.goals
        </span>
        <span>
            Shots on goal
        </span>
        <span>
            @currentScore?.liveData.linescore.teams.home.shotsOnGoal -
                        @currentScore?.liveData.linescore.teams.away.shotsOnGoal
        </span>
    </div>

    <TeamInfo Team="@currentScore?.gameData.teams.away"
              LeagueRecord="@currentScheduledGame?.teams.away.leagueRecord">
    </TeamInfo>
</div>

@code {

    private GameFeedLiveResponse currentScore { get; set; }

    private Game _currentScheduleGame;
    [Parameter]
    public Game currentScheduledGame
    {
        get => _currentScheduleGame;
        set
        {
            _currentScheduleGame = value;
            if(value != null)
                LoadScore();
        } 
    }

    private async void LoadScore()
    {
        currentScore = await _httpClient.GetFromJsonAsync<GameFeedLiveResponse>
            ($"https://statsapi.web.nhl.com/api/v1/game/{_currentScheduleGame.gamePk}/feed/live");
    }
}