/* /Pages/Counter.razor.rz.scp.css */
.team-logo[b-c89v7odhlw]{
    height: 300px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-kvt9bkpygv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-kvt9bkpygv] {
    flex: 1;
}

.sidebar[b-kvt9bkpygv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
